li, a{
    cursor:pointer;
}
.login, #upload {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}
.login{
    margin-top: 50px;
}
.preview{
    margin-top: 30px;
    width:200px;
    height:200px;
    background:white;
    border: 2px dashed lightgray;
    border-radius:30px;
}
.preview img{
    width:200px;
    height:200px;
    border-radius:30px;
}
#image-gallery, #gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:5px;
    margin-top: 20px;
    padding: 10px;
}
.image-div{
    background-color: white;
    padding:5px;
    border-radius:10px;
    position: relative;
}
.preview img{
    width:200px;
    height:200px;
    border-radius:30px;
}


.text{
    position: absolute;
    top:10px;
    right:10px;
    background-color: white;
    box-shadow: 10;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 4px;
}
.text{
    display: flex;
    flex-direction: column;
    height: auto;
    cursor: pointer;
}
.text img{
    width:20px;
    height:20px 
}
.img{
    width:200px;
    height:200px;
    border-radius: 5px;
}
@media(max-width:786px){
    .img{
        width:150px !important;
        height:150px;
        border-radius: 5px;
    }
    #image-gallery p{
        width:130px;
    }    
}
form{
    padding:10px;
}
#file, #des, #image-name, #username, #password{
    width:300px;
    padding:10px;
    margin-bottom: 20px;
    outline: none;
    border:2px solid ghostwhite;
    border-radius: 8px;
}
.submit, .btn{
    margin-top: 5px;
    width:100px;
    height:50px;
    padding:10px;
    outline: none; 
    border:none;
    background-color: darkblue;  
    color:white;
    border-radius: 10px;
}
@media(max-width:760px){
    input{
        width:200px;
    }
}
.upload-section{
    display: none;
}
.active{
    display:block;
}
#dashboard ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30px;
    height:150px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.342);
    position: fixed;
    left:20px;
    background-color: white;
    border-radius: 50px;
    padding: 8px;
    gap: 20px;
    list-style: none;
    z-index: 20;
}

.my-images img, .upload-image img, .logout img{
    width: 25px;
    height: 25px;
}
.user{
    padding: 10px;
    text-align: center;
}
.img-txt{
    position: absolute;
    bottom:67%; /* Position above the icon */
    left: 110%;
    z-index: 10;
    transform: translateX(-20%);
    background-color: gray;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  

}
.img-txt-2{
    position: absolute;
    bottom: 35%; /* Position above the icon */
    left: 80%;
    z-index: 10;
    transform: translateX(-5%);
    background-color: gray;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  

}

.img-txt-3{
    position: absolute;
    bottom: 2%; /* Position above the icon */
    left: 80%;
    z-index: 10;
    transform: translateX(-2%);
    background-color: gray;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  

}

.my-images:hover .img-txt, .logout:hover .img-txt-3, .upload-image:hover .img-txt-2{
    opacity: 1;
    visibility: visible;
}
.preview-img{
    display: flex;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    padding: 10px;
    width:35%;
    z-index: 10;
    display: none;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.342);
}
@media(max-width:1280px){
    .preview-img{
    width:50%;
}
}
@media(min-width:330px) and (max-width:760px){
    .preview-img{
    width:90%;
}
}


.flex{
    display: flex;
    align-items: center;
    gap: 10px;
}
.cancle-icon img{
    position: absolute;
    right: 20px;
    width: 25px;
    cursor: pointer;
}